html {
    background-color: #fff
}

.wy-body-for-nav body,
.wy-body-for-nav button,
.wy-body-for-nav cite,
.wy-body-for-nav html,
.wy-body-for-nav input,
.wy-body-for-nav p,
.wy-body-for-nav select,
.wy-body-for-nav span,
.wy-body-for-nav td,
.wy-body-for-nav textarea,
.wy-body-for-nav th,
.wy-body-for-nav ul>li {
    font-family: Roboto, sans-serif;
    color: #333;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .04em;
    word-spacing: .05em;
    line-height: 1.6em
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Roboto, sans-serif
}

a,
body,
p,
th,
tr,
ul>li {
    color: #5f6060;
    line-height: 1.5
}

.wy-body-for-nav p {
    margin-bottom: 10px
}

body,
p,
ul {
    margin: 0;
    padding: 0
}

body,
html {
    overflow-x: visible
}

body,
p {
    position: relative;
    font-weight: 300;
    font-size: 16px
}

a,
p,
th,
tr,
ul>li {
    font-size: 14px;
    font-weight: 400
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    font-weight: 400;
    margin: 15px 0;
    color: #232528
}

h5,
p {
    margin: 1.2em 0
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 50px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 28px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

ol>li,
ul>li {
    margin: 10px 0
}

.wy-menu.wy-menu-vertical ol>li a,
.wy-menu.wy-menu-vertical ul>li a {
    padding: 7px 10px!important
}

a {
    color: #23598e
}

a:hover,
a:visited {
    color: #23598e;
    text-decoration: none!important
}

.wy-nav-content,
.wy-nav-content-wrap {
    background-color: #fff!important;
    max-width: 100%;
    margin: 0
}

.wy-nav-content .rst-content {
    margin: 0 auto 0 300px;
    max-width: 800px
}

.wy-nav-content {
    padding: 2% 10%
}

.wy-side-nav-search,
.wy-side-nav-search>a:before {
    display: none
}

.rst-versions,
.rst-versions .rst-current-version {
    background-color: #FFF
}

.rst-versions .rst-current-version .fa,
.wy-side-nav-search .wy-dropdown>a,
.wy-side-nav-search>a {
    color: #222
}

::-webkit-scrollbar {
    width: 9px
}

::-webkit-scrollbar-track {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

.wy-side-nav-search input[type=text] {
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #2472a4
}

form input,
input,
textarea {
    border-radius: 2px!important;
    box-shadow: none!important;
    border: 1px solid #ddd!important;
    font-size: 16px;
    padding: 15px!important
}

.wy-side-nav-search input[type=text] {
    line-height: 45px;
    font-weight: lighter;
    height: 45px;
    width: 100%!important;
    -webkit-appearance: none;
    padding-left: 40px!important;
    left: 0;
    font-size: 14px
}

.wy-side-nav-search .wy-form:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 2.5em;
    z-index: 1;
    transform: translateY(-50%);
    color: #ddd;
    left: 0
}

div[role=search] {
    position: relative
}

.wy-menu-vertical li ul li>a:before,
.wy-menu-vertical li ul ul li>a:before {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    left: 0
}

::placeholder {
    color: #ddd;
    opacity: 1
}

:-ms-input-placeholder {
    color: #ddd
}

::-ms-input-placeholder {
    color: #ddd
}

.wy-menu-vertical li.current>a,
.wy-menu-vertical li.on a {
    border: none!important;
    font-weight: 300!important
}

.wy-menu-vertical li.on a:hover {
    color: #2baae1!important;
    background-color: transparent
}

.wy-menu-vertical p.caption {
    padding: 0px;
}

.wy-menu-vertical p.caption .caption-text {
    font-size: 16px;
    padding: 10px 0!important;
    text-align: left;
    letter-spacing: .2px;
    font-weight: 400!important;
    color: #23598e!important;
    text-transform: initial;
}

.wy-menu-vertical li.current a {
    border: none
}

.wy-menu-vertical a:hover {
    background-color: transparent!important;
    color: #222!important
}

.wy-menu-vertical li,
.wy-menu-vertical li.current,
.wy-menu-vertical li.current ul.subnav {
    background-color: transparent
}

.wy-menu-vertical .wy-menu-vertical li.current > a {
    color: #2baae1!important
}

.wy-menu-vertical ul li ul li ul > li {
    padding-bottom: 5px!important
}

.wy-menu-vertical ul li ul li ul ul > li:last-child {
    padding-bottom: 0!important;
    border-bottom: none
}

.wy-menu-vertical .caption-text {
    padding: 10px!important
}

.wy-menu-vertical a {
    color: #222
}

.wy-side-nav-search a {
    font-size: 16px;
    max-width: 80%
}

.wy-menu-vertical ul li > a:before {
    display: block
}

.wy-menu-vertical > li.current > a {
    color: #2baae1;
    text-transform: none;
    font-size: 14px;
    font-weight: 400!important
}

.wy-menu-vertical li > a,
.wy-menu-vertical li > .caption-text {
    color: #555
}

.wy-menu-vertical li > a:hover {
    color: #23598e!important
}

.wy-menu-vertical ul > li > a {
    color: #5f6060
}

.wy-menu-vertical ul ul {
    background-color: transparent;
    padding: 0 10px!important;
    margin: 0 0 0 10px!important
}

.wy-menu-vertical ul:empty {
    display: none!important
}

.wy-menu-vertical li.current ul ul {
    padding: 10px 20px!important;
    background-color: #fafafa;
    margin-top: -10px
}

.wy-menu-vertical ul ul li>a:before {
    display: block
}

nav.wy-nav-side {
    z-index: 1;
    overflow-y: hidden;
    height: calc(100% - 140px)!important;
    min-height: 0px;
    padding: 0!important;
    background: #fafafa!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15)
}

.wy-menu.wy-menu-vertical {
    padding: 30px;
    overflow-y: auto
}

.wy-nav-shift .ethical-rtd {
    display: none!important
}

.wy-menu-vertical a,
.wy-menu-vertical span {
    font-size: 14px;
    color: #fff;
    font-weight: 300!important
}

.wy-menu-vertical a {
    font-weight: 100!important
}

.wy-body-for-nav .keep-us-sustainable {
    padding: .5em;
    margin: 1em 0;
    text-align: center;
    border: none;
    border-top: 1px dotted #ddd
}

.keep-us-sustainable p {
    color: #999;
    font-size: 14px
}

.wy-body-for-nav .keep-us-sustainable a {
    color: #2baae1!important;
    font-size: 14px;
    line-height: 20px
}

.btn,
.btn.active,
.btn:active {
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    -moz-transition: .3s ease;
    transition: .3s ease;
    font-size: 14px;
    padding: 10px 12px;
    margin: 15px auto;
    border-radius: 2px;
    box-shadow: 0 5px 6px -7px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 5px 6px -7px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 6px -7px rgba(0, 0, 0, .2);
    text-decoration: none!important;
    min-width: 100px;
    font-family: Roboto, sans-serif
}

.rst-content>div>hr {
    margin-top: 0;
    margin-bottom: 50px
}

.wy-breadcrumbs {
    margin: 0
}

.wy-breadcrumbs li,
.wy-breadcrumbs li a {
    display: inline-block;
    padding: 0 3px 0 0!important;
    font-size: 14px!important;
    color: #999
}

.wy-breadcrumbs li:nth-last-child(2) {
    display: block;
    font-size: 30px!important;
    color: #2baae1!important
}

@media (max-width:870px) {
    .wy-nav-content {
        padding-right: 10px!important
    }
}

@media (max-width:840px) {
    .wy-nav-content .rst-content {
        max-width: 500px!important
    }
}

@media screen and (max-width:767px) {
    .wy-grid-for-nav nav.wy-nav-side {
        height: 100%!important
    }
}

@media(max-width:1500px) {
    .wy-nav-content .rst-content {
        max-width: 600px!important
    }
}

@media (max-width:768px) {
    .wy-nav-content-wrap .wy-nav-content {
        padding: 60px 30px!important;
    }
    .wy-nav-content .rst-content {
        max-width: 100%!important;
        width: 100%!important;
        margin: 0;
        float: none;
    }
    .wy-nav-top {
        background-color: transparent
    }
    .wy-nav-top i {
        padding-top: 10px;
        padding-left: 20px;
        color: #222
    }
    .wy-nav-top a {
        display: none
    }
}

.wy-body-for-nav .rst-versions,
.wy-body-for-nav .rst-versions.rst-badge {
    display: none!important
}

footer :not(.btn) {
    font-size: 14px!important
}

.section a,
.section p,
.section th,
.section tr,
.section ul>li {
    font-size: 14px
}

footer hr {
    margin-bottom: 10px;
    margin-top: 20px
}

.alert-success {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 5px 10px
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px
}

div.ethical-rtd.ethical-dark-theme {
    display: none
}

header.home.hero {
    z-index: 98!important;
    position: fixed;
    top: 0
}

header.home.hero nav {
    background-image: none
}

.wy-nav-content {
    padding-top: 110px
}

nav.wy-nav-side {
    top: 110px
}

.wy-menu-vertical li,
.wy-menu-vertical li.current {
    background-color: transparent;
    padding: 0;
    margin: 0
}

.wy-menu.wy-menu-vertical {
    position: relative;
    height: 100%
}

.wy-grid-for-nav {
    background-color: #fff
}

.wy-side-nav-search a {
    line-height: 20px!important;
    font-weight: 700;
    width: 100%
}

.wy-menu-vertical ul {
    display: inherit;
    padding-top: 8px;
    background-color: rgba(255, 255, 255, .12);
    padding-left: 0;
    padding-bottom: 8px
}

li.toctree-l1>span.collapsed:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

.BT-MobileMenu {
    top: 70px!important;
    left: -330px;
    background-color: #111;
    overflow-x: hidden;
    transition: .5s
}

.BT-OpenSideBar {
    padding-left: 30px;
    cursor: pointer
}

header .navbar .top-menu ul#top-menu>li ul.dropdown-menu.mega-menu>li,
header .navbar .top-menu ul#top-menu>li ul.dropdown-menu.menu-account li {
    margin: 0
}

li.toctree-l1 {
    cursor: pointer
}

nav #top-menu li.BT-menu-base.get-started a {
    padding: 10px 12px;
    border-radius: 2px
}

.wy-nav-shift {
    padding-bottom: 0!important
}

.wy-menu-vertical ul {
    margin: 0!important
}

.section p {
    line-height: 1.8em;
    font-weight: 400;
    word-spacing: .05em;
    letter-spacing: .4px
}

.rst-content b,
.rst-content strong,
.section p b {
    font-weight: 500!important
}

.bg-light-grey {
    background: #f9f9f9;
}

.rst-content .section ol li,
.rst-content ol.arabic li,
.wy-plain-list-decimal li,
article ol li {
    margin: 0;
}

.rst-content .section ul li,
.rst-content .toctree-wrapper ul li,
.wy-plain-list-disc li,
article ul li {
    padding: 5px 0!important
}

.offcanvasClass {
    display: none!important;
}

.wy-nav-side .wy-side-scroll {
    overflow: hidden;
}